@keyframes show {

    from {opacity: 0;} to {opacity: 1;}
}

.mainWeather {
    position: relative;
    top: 100px;
    border: 3px solid #d76b25;
    border-radius: 10px 0 10px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    animation: show 2s;
}